.home-content#home .banner-top{
  background: url(../../../img/banners/street-flooded.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: contrast(.8);
  height: 330px;
  width: 100%;
}
.home-content#home .banner-top h2{
  text-shadow: 2px 3px 8px #333;
  text-align: center;
}

.home-content#home .text-asking p{
  font-size: 20px;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.featurette-divider {
  margin: 5rem 0; /* Espaça o elemento <hr> mais */
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

@media only screen and (min-width: 768px) {
  .panel-choose{
    align-items: center;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 15px 0;
    text-align: center;
  }
  .panel-choose a{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  .panel-choose div{
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    height: 250px;
    transition: .3s all;
    width: 80%;
  }
  .panel-choose div:hover{
    transform: scale(.9);
  }
  .panel-choose h3{
    text-shadow: 2px 3px 15px #333;
  }
  .panel-choose .need-help{
    background-image: url(../../../img/banners/donation.jpg);
  }
  .panel-choose div .contrast-card{
   background-color: #00000029;
   width: 100%;
   height: 100%;
   transform: scale(1);
  }
  .panel-choose .want-help{
    background-image: url(../../../img/banners/help1.jpg);
  }

}  /*responsive*/

@media (min-width: 40em) {

  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
