@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900,300);
.row.expanded {
    max-width: none;
}

body{
    padding-top: 66px;
    color: #00193e!important;
}

.row {
    margin-bottom: 22px !important;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.page-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
    display: none;
}

.success {
    color: #48C369;
}

.danger {
    color: #EA3535;
}

.info {
    color: #30ADF9;
}

body {
    background-color: #eaeaea;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

a,
a:hover {
    text-decoration: none;
}

*:fullscreen,
*:-ms-fullscreen,
*:-webkit-full-screen,
*:-moz-full-screen {
    overflow: auto !important;
}

*::-webkit-scrollbar {
    width: 10px !important;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

*::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.08) !important;
}

-moz-::selection {
    background: red;
    color: #000;
}

.button::selection {
    color: #000;
}

.app-wrap {
    height: 100%;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

body.hidden-sidebar .page {
    width: 100% !important;
}

body.hidden-sidebar .sidebar {
    left: -350px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);
}

body.hidden-sidebar .toggle-menu {
    display: block !important;
}

div.chart {
    padding: 0;
    margin: 0;
}

.chart-legend {
    margin: 0;
    padding: 0;
}

.chart-legend li {
    list-style-type: none;
    border-bottom: 1px solid #eee;
    line-height: 2em;
    padding: 0 4px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* $Base */

.loader {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin: 0 auto;
}


/*	$Loader Multiple circle
	========================================================================== */

.loader-circles {
    border-radius: 50px;
    border: 3px solid transparent;
    border-top-color: red;
    -o-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

.loader-circles:before,
.loader-circles:after {
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border-radius: 50px;
    border: 3px solid transparent;
    border-top-color: red;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -o-animation: spinreverse 5s linear infinite;
    -moz-animation: spinreverse 5s linear infinite;
    -webkit-animation: spinreverse 5s linear infinite;
    animation: spinreverse 5s linear infinite;
}

.loader-circles:before {
    top: 12px;
    left: 12px;
    bottom: 12px;
    right: 12px;
    -o-animation: spinreverse 10s linear infinite;
    -moz-animation: spinreverse 10s linear infinite;
    -webkit-animation: spinreverse 10s linear infinite;
    animation: spinreverse 10s linear infinite;
}

@-webkit-keyframes grow {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        opacity: 0;
    }
    50% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        opacity: 0;
    }
}

@keyframes grow {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        opacity: 0;
    }
    50% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        opacity: 0;
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        tranform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        tranform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        tranform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        tranform: rotate(360deg);
    }
}

@-webkit-keyframes spinreverse {
    0% {
        -webkit-transform: rotate(0deg);
        tranform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        tranform: rotate(-360deg);
    }
}

@keyframes spinreverse {
    0% {
        -webkit-transform: rotate(0deg);
        tranform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        tranform: rotate(-360deg);
    }
}

#loader-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    position: fixed;
    z-index: 120;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.msg-alert {
    color: #FFF;
    padding: 10px;
    background: #eaeaea;
    margin: 5px 0 15px;
    border-radius: 3px;
    position: relative;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.msg-alert:after {
    content: " ";
    height: 10px;
    width: 10px;
    display: inline-block;
    background: #eaeaea;
    position: absolute;
    top: -5px;
    left: 20px;
    transform: rotate(45deg);
}

.msg-alert:before {
    font: normal normal normal 20px/1 'Material-Design-Iconic-Font';
    float: left;
    margin: 2px 10px 2px 5px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.msg-alert.danger,
.msg-alert.danger:after {
    background: #EC6060;
}

.msg-alert.danger:before {
    content: "\f135";
}

.msg-alert.warning,
.msg-alert.warning:after {
    background: #FFB440;
}

.msg-alert.warning:before {
    content: "\f1f4";
}

.msg-alert.success,
.msg-alert.success:after {
    background: #65CA80;
}

.msg-alert.success:before {
    content: "\f269";
}

.msg-alert.information,
.msg-alert.information:after {
    background: #08c;
}

.msg-alert.information:before {
    content: "\f1f8";
}

aside .button,
aside .btn {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    font-weight: normal;
    padding: 10px 18px;
    font-size: 14px;
    border-radius: 3px;
    text-transform: uppercase;
}

aside .button i,
aside .btn#dropdownMenuButton i{
    margin-right: 8px;
    font-size: 16px;
}
i.fas.fa-walking {
    font-size: 19px;
    margin-right: 20px;
}
.button.alert,
.btn.alert {
    background-color: #D84040;
}

.button.warning,
.btn.warning {
    background-color: #EFB02B;
}

.button.warning:hover,
.btn.warning:hover {
    background-color: #DCA228;
}

.button.success,
.btn.success {
    background-color: #5DB154;
}

.button.default,
.btn.default {
    background: #AAAAAA;
}

.button.float,
.btn.float {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 32px;
    right: 50px;
}

.button.circle,
.button.float,
.btn.circle,
.btn.float {
    border-radius: 50% !important;
    width: 52px;
    height: 52px;
    padding: 0;
}

.button.circle i,
.button.float i,
.btn.circle i,
.btn.float i {
    margin: 0 !important;
    line-height: 52px;
    font-size: 22px !important;
}
/* 
.card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    padding: 18px;
    background: #fff;
    margin: 10px 0;
}

.card .card-title {
    opacity: .8;
} */

.widgets .wdg {
    background-color: red;
    padding: 0;
    min-height: 95px;
    margin: 10px 0;
}

.widgets .wdg a,
.widgets .wdg a:visited {
    text-decoration: none;
    color: white;
}

.widgets .wdg.large,
.widgets .wdg.large .wdg-icon,
.widgets .wdg.large .wdg-content,
.widgets .wdg.large .wdg-content:before {
    min-height: 308px;
}

.widgets .wdg.large .wdg-title {
    font-size: 1.5em;
}

.widgets .wdg.large .wdg-value {
    font-size: 3em;
}

@media (max-width: 800px) {
    .widgets .wdg.large .wdg-value {
        font-size: 2em;
    }
}

.widgets .wdg-icon {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
    font-size: 1.8em;
    min-height: 95px;
    position: relative;
    z-index: 5;
}

.widgets .wdg-icon i {
    line-height: 95px;
    color: #FFF;
}

.widgets .wdg-content {
    color: #FFF;
    width: 70%;
    display: inline-block;
    padding: 14px;
    position: relative;
}

.widgets .wdg-content:before {
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    content: " ";
    background: rgba(0, 0, 0, 0.1);
    float: left;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    min-height: 95px;
    overflow: hidden;
    width: 0px;
}

.widgets .wdg:hover .wdg-content:before {
    width: 100%;
}

.widgets .wdg-title {
    display: block;
    font-size: 1em;
    position: relative;
    z-index: 5;
}

.widgets .wdg-value {
    display: block;
    font-size: 1.6em;
    position: relative;
    z-index: 5;
}

.widgets .wdg.yellow {
    background: #FDD835;
}

.widgets .wdg.red {
    background: #F44336;
}

.widgets .wdg.teal {
    background: #009688;
}

table {
    border: none;
    margin-top: 22px;
    width: 100%;
}

table thead,
table thead tr,
table thead th {
    background: none;
    font-weight: 600;
}

table tbody {
    opacity: .8;
}

table td.icon {
    font-size: 1.2em;
}

table caption {
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: left;
    opacity: .9;
    font-size: 1.2em;
    margin-bottom: 25px;
}

.table-footer {
    font-size: .8em;
    padding: 0 14px;
}

.table-footer i {
    margin-right: 10px;
}

.m-form {
    padding: 14px 0;
}

.m-form .input-wrapper {
    position: relative;
    margin-bottom: 5px;
}

.m-form .input-wrapper label {
    color: rgba(0, 0, 0, 0.3);
    font-size: 1.05em;
    margin-left: 7px;
}

.m-form .input-wrapper input,
.m-form .input-wrapper textarea,
.m-form .input-wrapper select {
    padding: 0 0 6px 8px;
}

.m-form .input-wrapper.icon input,
.m-form .input-wrapper.icon textarea,
.m-form .input-wrapper.icon select {
    padding: 0 0 12px 32px;
}

.m-form .input-wrapper textarea {
    padding-bottom: 12px;
    padding-top: 0;
    height: 120px;
}

.m-form .input-wrapper.icon i {
    color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 16px;
    left: 5px;
    font-size: 1.2em;
}

.m-form .input-wrapper.icon i.active {
    color: red;
}

.m-form .input-wrapper input[type=checkbox] {
    margin-left: 10px;
}

.m-form .input-wrapper input,
.m-form .input-wrapper textarea,
.m-form .input-wrapper select {
    background: none;
    display: inline-block;
    margin-top: 14px;
    border: none;
    border-bottom: 1px solid #eaeaea;
    box-shadow: none;
    font-size: 1.05em;
    padding-bottom: 16px;
}

.m-form .input-wrapper select {
    padding-top: 0;
    padding-bottom: 13px;
}

.m-form .input-wrapper .caret {
    position: absolute;
    top: 16px;
    left: inherit !important;
    right: 5px !important;
    font-size: 1.5em !important;
}

.m-form .input-wrapper input:focus,
.m-form .input-wrapper textarea:focus,
.m-form .input-wrapper select:focus {
    border-color: red;
    background: none;
}

.switch {
    display: inline-block;
    margin-top: 26px;
    margin-bottom: 0;
}

.switch input:checked+label:after {
    left: 1.25rem;
    background: red;
}

.switch label,
.switch input:checked+label {
    width: 3rem;
    background: #EAEAEA;
    height: 12px;
    border-radius: 15px;
    overflow: visible;
}

.switch label:after {
    background: #B5C0C5;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    top: -5px;
    height: 22px;
    width: 22px;
}

header.page-header {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    background-color: #FFF;
    height: 65px;
    line-height: 65px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}

header.page-header .logo {
    background: #f7f7f7;
    padding: 7px;
    text-align: center;
    width: 100%;
    height: 64.5px;
    line-height: 0;
}

header.page-header .logo img {
    max-height: 45px;
    max-width: 240px;
}

header.page-header .navbar-right ul.nav {
    float: right;
    margin: 0;
    line-height: 18px;
}

header.page-header .navbar-right ul.nav li {
    list-style: none;
    display: inline;
    margin: 0 15px;
}

header.page-header .navbar-right ul.nav li.divider {
    border-right: 1px solid rgba(0, 0, 0, 0.15);
}

header.page-header .navbar-right ul.nav li a {
    color: black;
    position: relative;
}

header.page-header .navbar-right ul.nav li a:hover {
    opacity: .8;
}

header.page-header .navbar-right ul.nav li i {
    font-size: 1.4em;
    margin-top: 21px;
}

header.page-header .navbar-right ul.nav li i.refresh,
header.page-header .navbar-right ul.nav li i.fullscreen {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

header.page-header .navbar-right ul.nav li i.refresh {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

header.page-header .navbar-right ul.nav li i.refresh:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

header.page-header .navbar-right ul.nav li i.fullscreen {
    -webkit-transform: scale(1);
    transform: scale(1);
}

header.page-header .navbar-right ul.nav li i.fullscreen:hover {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
}

.header-search {
    float: right;
    position: relative;
    margin-right: 10px;
}

.header-search.active:before {
    color: red;
}

.header-search input {
    background: transparent;
    width: 280px;
    margin: 0;
    margin-top: 12px;
    border: none;
    outline: none;
    box-shadow: none;
}

.header-search input:focus,
.header-search input:hover {
    border-bottom: 1px solid red;
    background: transparent;
}

.header-search:before {
    font-family: 'Material-Design-Iconic-Font';
    content: '\f1c3';
    position: absolute;
    font-size: 1.5em;
    left: -24px;
    top: 0px;
    color: rgba(0, 0, 0, 0.3);
}

.toggle-search {
    display: none !important;
}

.choose-theme {
    width: auto;
}

.choose-theme span.dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid #fbfbfb;
    display: inline-block;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.choose-theme span.dark {
    background: #000;
}

.choose-theme span.white {
    background: #fbfbfb;
}

.choose-theme span.blue {
    background: red;
}

.choose-theme span.transparency {
    background: #ffde5b;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZkZTViIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOSUiIHN0b3AtY29sb3I9IiNmZmRlNWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNTdjMmFkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(-45deg, #ffde5b 0%, #ffde5b 9%, #57c2ad 100%);
    background: -webkit-linear-gradient(-45deg, #ffde5b 0%, #ffde5b 9%, #57c2ad 100%);
    background: linear-gradient(135deg, #ffde5b 0%, #ffde5b 9%, #57c2ad 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffde5b', endColorstr='#57c2ad', GradientType=1);
}

.choose-theme li,
.choose-theme li:hover,
.choose-theme li a,
.choose-theme li a:hover {
    display: inline;
    margin: 0 2px !important;
    padding: 0 !important;
    background: transparent;
}

.choose-theme li i {
    color: red;
    font-size: 26px;
    padding-right: 18px;
    margin-right: 5px;
    margin-top: 0 !important;
    border-right: 1px solid #eaeaea;
}

.choose-theme a.active span.dot:after {
    font-family: 'Material-Design-Iconic-Font';
    content: '\f26b';
    height: 12px;
    width: 12px;
    background: #74DC6E;
    border-radius: 50%;
    position: absolute;
    right: 2px;
    bottom: 1px;
    color: #fff;
    text-align: center;
    line-height: 12px;
    font-size: 10px;
}

.sidebar {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    background-color: #FFF;
    height: 100%;
    padding: 0;
    position: fixed;
    left: 0;
    z-index: 100;
    overflow: auto;
}

.sidebar.sidebar-open {
    left: 0 !important;
    z-index: 100;
}

.sidebar .sidebar-header {
    background: red;
    background-color: red;
    background-size: cover;
    background-repeat: no-repeat;
    height: 170px;
    position: relative;
}

.sidebar .sidebar-header .title {
    background: rgba(0, 0, 0, 0.1);
    bottom: 0;
    color: #FFF;
    font-size: 1.2em;
    height: 55px;
    left: 0;
    padding: 14px;
    position: absolute;
    width: 100%;
}

.sidebar .sidebar-header .title i {
    font-size: 1.4em;
    float: left;
    margin-right: 12px;
}

.sidebar .sidebar-header .title i.right {
    font-size: 1em;
    margin: 6px 5px;
}

.sidebar .sidebar-header a {
    color: inherit;
}

.sidebar .sidebar-links ul {
    margin: 0;
    padding: 0;
    min-height: 750px;
}

.sidebar .sidebar-links ul li {
    cursor: pointer;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: .9em;
}

.sidebar .sidebar-links ul li i {
    opacity: .8;
    font-size: 1.2em;
    text-align: center;
    margin: 9.5px 10px;
    line-height: 38px;
    float: left;
    height: 20px;
    width: 38px;
}

.sidebar .sidebar-links ul li a {
    color: #6c757d;
    display: inline-block;
    line-height: 58px;
    width: 100%;
}

.sidebar .sidebar-links ul li a:hover, .sidebar .sidebar-links ul li a.active {
    background-color: #00193e;
    border-left: 3px solid #37e471;
}

.sidebar ul li ul {
    display: none;
    background-color: #fff;
}

.sidebar ul li ul li {
    border: 1px solid 1px solid #555;
    border-left: 15px solid #0bc;
}

.sidebar ul li ul li a {
    padding-left: 25px;
    color: #fff!important;
}

.toggle-menu {
    cursor: pointer;
    float: left;
    padding: 2px;
    font-size: 1.5em;
    color: #333;
    display: none;
}

.f-dropdown {
    padding: 14px;
    line-height: 1;
    max-width: 350px;
    border: 1px solid #eaeaea;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.f-dropdown .dropdown-title {
    width: 100%;
    display: inline-block;
    padding: 5px;
    color: #ADADAD;
    text-align: center;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.f-dropdown .dropdown-footer {
    text-align: center;
    text-transform: uppercase;
}

.f-dropdown .dropdown-list:not(.default) {
    margin: 8px 0 5px;
}

.f-dropdown .dropdown-list:not(.default) li {
    display: inline-block !important;
    border-bottom: 1px solid #f7f7f7;
    margin: 8px 0px !important;
    width: 100%;
    padding-right: 5px;
}

.f-dropdown .dropdown-list:not(.default) li:hover {
    opacity: .8;
    background: transparent;
}

.f-dropdown .dropdown-list:not(.default) img.avatar {
    border-radius: 50%;
    border: 1px solid #eaeaea;
    float: left;
    max-width: 65px;
    margin-right: 12px;
    margin-bottom: 12px;
}

.f-dropdown .dropdown-list:not(.default) p {
    font-size: .9em;
    opacity: .7;
}

.f-dropdown .dropdown-list:not(.default) p i {
    font-size: 1em !important;
    margin: 0 5px 0 0 !important;
}

.f-dropdown .dropdown-list.default {
    margin: 0;
}

.f-dropdown .dropdown-list.default li {
    list-style: none;
}

.f-dropdown .dropdown-list.default li:hover {
    background: none;
}

.f-dropdown .dropdown-list.default li a:hover {
    opacity: .8;
}

.f-dropdown .dropdown-list.default i {
    margin-right: 10px;
}

#user-dropdown {
    top: 167px !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

#user-dropdown:before,
#user-dropdown:after {
    right: 16px;
    left: initial !important;
}

#user-dropdown a {
    color: red;
}

.body-login {
    background-image: url(../../img/pattern-1.png);
    background-repeat: repeat;
}

.login-header {
    margin-top: -65px;
    height: 50%;
    background: #278DBB;
    background: url(../../../assets/images/banner/slider2.jpg) center center #10274D;
    background-size: cover;
}

.login-wrap {
    margin-top: -100px;
    padding: 0 20px;
}

.login-wrap .card {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    padding-top: 32px;
}

.login-wrap .m-form {
    padding-right: 35px;
}

.login-wrap .login-action {
    background-color: red;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    padding: 0;
    position: absolute;
    right: -10px;
    top: 32%;
}

.login-wrap .login-action i {
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    margin: 0;
    line-height: 52px;
    font-size: 23px;
}

.login-wrap .login-action:hover i {
    transform: rotate(360deg);
}

.login-wrap .login-footer ul.dots {
    text-align: center;
    margin: 18px 0;
}

.login-wrap .login-footer ul.dots li {
    display: inline-block;
    margin: 0 2px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 150ms;
    transition-duration: 150ms;
    cursor: pointer;
    vertical-align: top;
    color: #fff;
    line-height: 16px;
    min-width: 16px;
    min-height: 16px;
    text-transform: uppercase;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.login-wrap .login-footer ul.dots li.alert {
    background: #D84040;
}

.login-wrap .login-footer ul.dots li.success {
    background: #5DB154;
}

.login-wrap .login-footer ul.dots li.yellow {
    background: #FFC400;
}

.login-wrap .login-footer ul.dots li a {
    color: inherit;
}

.login-wrap .login-footer ul.dots li:not(:hover) {
    font-size: 0px;
    border-radius: 100%;
}

.login-wrap .login-footer ul.dots li:hover {
    border-radius: 10px;
    padding: 0 5px;
    font-size: 8px;
}

.login-wrap .login-logo {
    width: 150px;
    display: block;
    margin: 0 auto;
}

.page {
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    padding: 24px;
}

.title-background{
    background-color:rgba(0,0,0,.03);
    padding: .75rem 1.25rem;
}

@media screen and (max-width: 1230px) {
    .navbar-right {
        width: 100%;
    }
    .navbar-right .nav .switch-li {
        display: none !important;
    }
    .page {
        width: 100% !important;
        min-height: 90vh;
    }
    header.page-header .navbar-right ul.nav li .svg-inline--fa {
        font-size: 1.6em !important;
    }
}

@media screen and (max-width: 991px) {
    .logo {
        display: none;
    }
    .sidebar {
        width: 320px;
        left: -350px !important;
        box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);
    }
    .sidebar-open {
        left: 0;
    }
}
@media screen and (max-width: 768px) {
    
    .toggle-menu {
        display: block !important;
    }
}

@media screen and (max-width: 700px) {
    .header-search {
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
        top: -120px;
        left: 0;
        width: 100%;
        background: #fff;
        position: fixed !important;
        padding: 0 25px;
        height: 65px;
    }
    .header-search input {
        color: #333 !important;
        width: 100% !important;
    }
    li.hide-fullscreen {
        display: none !important;
    }
    .toggle-search {
        display: inline-block !important;
    }
}

@media screen and (max-width: 400px) {
    .refresh-icon {
        display: none !important;
    }
    .page {
        width: 100% !important;
        padding: 24px 0;
    }
}

.modal-content {
    background-color: #fff!important;
    color: #aeb2b7!important;
}